@charset "utf-8";

/* 웹프로젝트 공통모듈 CSS - common.css */

/******************** 1. 상단영역 ********************/
/* 속박스 셋팅 */
.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s ease-out;
    z-index: 999;
}
/* 배경박스 */
.inner_wrap {
    position: relative;
    width: 100%;
    height: 90px;
    background: transparent;
    transition: 0.4s ease-out;
}
/* 배경박스 오버시 */
.top:hover .inner_wrap {
    height: 386px;
    background: #fff;
}
/* 가상요소 구분선 */
.inner_wrap::before {
    content: '';
    position: absolute;
    top: 90px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
/* 가상요소 구분선 오버시 */
.inner_wrap:hover::before {
    content: '';
    position: absolute;
    top: 90px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.inner {
    /* 플렉스박스 */
    display: flex;
    justify-content: space-between;

    /* 박스설정 */
    max-width: 1100px;
    margin: 0 auto;
    height: 90px;

    /* 폰트설정 */
    font-family: CJONLYONENEW;
    font-size: 18px;
    white-space: nowrap;
}

/* 로고박스 */
.logo {
    position: relative;
    width: 58px;
    margin-left: 10px;
}
.logo img {
    width: 100%;
}
/* 로고 공통 설정 */
.logo a {
    display: block;
    padding-top: 20px;
    width: 60px;
    height: 52px;
}
/* 로고(검은색) 숨김 */
.logo a:last-child {
    width: 58px;
    left: 0;
    height: 50px;
    top: 0;
    display: none;
}
/* 로고(검은색) 오버시 보이기 */
#top:hover .logo a:last-child {
    display: block;
}
/* 로고(흰색) 오버시 숨김 */
#top:hover .logo a:first-child {
    display: none;
}

/* GNB 박스 */
.gnb {
    height: 90px;
    transition: height 0.4s ease-out;
    overflow: hidden;
    box-sizing: border-box;
    padding: 34px 0;
}
/* GNB 박스 오버시 */
#top:hover .gnb {
    height: 386px;
}
/* GNB 상위리스트 */
.gnb > ul {
    position: relative;
    /* 플렉스박스 */
    display: flex;
    gap: 55px;
}
.gnb > ul > li:last-child{
    padding-right: 50px;
}
/* 상위리스트 글자 */
.gnb > ul a {
    color: #fff;
}
/* 상위리스트 글자 오버시 */
#top:hover .gnb > ul a {
    color: #000;
}
/* 글자 오버시 강조 !important */
.gnb > ul a:hover {
    color: #1a7cd2 !important;
}
/* 하위리스트 */
.depth2 {
    position: absolute;
    top: 55px;
    font-size: 16px;
    font-weight: 400;
}
.depth2 > li:first-child {
    padding-top: 20px;
}
.depth2 > ul > li {
    padding-top: 16px;
}
.depth2 > ul > li a {
    color: #000;
}
/* 구분선 가상요소 */
.sep {
    padding-left: 48px;
}
.sep::after {
    content: '';
    position: absolute;
    transform: translateX(-100px);
    width: 1px;
    height: 22px;
    opacity: .4;
    border-left: 1px solid #d8d8d8;
}

/* 언어박스 */
.tmenu {
    position: relative;
    right: 0;
}
.lang{
    display: inline-block;
    position: relative;
    font-size: 14px;
}
.lang a {
    color: #fff;
}
.main_lang {
    padding: 34px;
}
/* 오버시 KOR 글자색 변경 */
#top:hover .main_lang a {
    color: #000;
}
.list_lang {
    /* JS 연결 */
    display: none;
    
    position: absolute;
    top: 58px;
    left: -4px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
}
.list_lang ul {
    display: flex;
    flex-direction: column;
}
.list_lang ul li:first-child {
    border-bottom: 1px solid #ccc;
}
.list_lang ul a {
    width: 100%;
    color: #000;
    display: block;
}

/* 언어설정 아이콘 박스 */
.btn_icon {
    font-size: 11px;
}
.btn_icon_close {
    display: none;
    font-size: 11px;
}

/* 돋보기 아이콘 박스 */
.search {
    display: inline-block;
    width: 40px;
    text-align: center;
    color: #fff;
}
#top:hover .search {
    color: #000;
}


/******************** 2. 메인영역 ********************/
/* 속박스 셋팅 */
.cont {
    position: relative;
    /* 최소높이 */
    min-height: 900px;
}

/******************** 3. 하단영역 ********************/
/* 속박스 셋팅 */
.info {
    /* 최소높이 */
    min-height: 900px;
}
