@charset "utf-8";

/* 웹프로젝트 메인 페이지 CSS - main.css */

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 상단 메인비디오 */
.mainVid {
    /* 임시 */
    max-width: auto;
    height: 1080px;
    background-color: rgb(80, 80, 80);
}
