@charset "utf-8";

/* 웹프로젝트 메인 페이지 CSS - main.css */

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 섹션 공통설정 */
.sec {
    position: relative;
    width: 100%;
}
/* 섹션 감싸기박스 공통 */
.wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 140px 0;
}



/************** section 1 - video **************/

/* 상단 메인비디오 */
.mainVid {
    /* 메인비디오 최상위 부모박스 */
    position: relative;
    z-index: -1;

    /* 임시 높이값 -> JS에서 조정예정 */
    height: 767px;
}
.slide {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    /* 박스한계 크기값 */
    min-width: 1000px;
}
#video1{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* 페이드아웃 효과 */
.fadeout {
    /* display: none; */
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,1);
}

/************** section 2 - Live new cj **************/

.livenewcj {
    /* 임시 높이값 - 섹션 내부 요소 작업후 제거!! */
    /* height: 800px; */
    background: #fff;
}
.title_area {
    position: relative;
    /* 부모자격 - morebtn */
}
.morebtn {
    position: absolute;
}
.morebtn::before {
    content: '';
    display: block;
    background: url() no-repeat;
}



/************** section 2 - Live new cj **************/
.cjnow{
    background: rgb(206, 206, 206);
}
.brand{
    background-color: rgb(80, 79, 79);
}
.csv{
    background-color: #fff;
}
.cjlog{
    background-color: rgb(162, 164, 167);
}
#info {
    background: #fff;
}