@charset "utf-8";

/* 웹프로젝트 메인 페이지 CSS - main.css */

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 섹션 공통설정 */
.sec {
    position: relative;
    width: 100%;
    font-family: CJONLYONENEW;
}
/* 섹션 감싸기박스 공통 */
.wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 140px 0;
}



/************** section 1 - video **************/

/* 상단 메인비디오 */
.mainVid {
    /* 메인비디오 최상위 부모박스 */
    position: relative;
    z-index: -1;

    /* 임시 높이값 -> JS에서 조정예정 */
    height: 767px;
}
.slide {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    /* 박스한계 크기값 */
    min-width: 1000px;
}
#video1{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* 페이드아웃 효과 */
.fadeout {
    /* display: none; */
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,1);
}

/************** section 2 - Live new cj **************/

.livenewcj {
    /* 임시 높이값 - 섹션 내부 요소 작업후 제거!! */
    /* height: 800px; */
    background: #fff;
}
.title_area {
    position: relative;
    /* 부모자격 - morebtn */
}
.title_area h3 {
    font-size: 50px;
    font-family: CJONLYONENEW_BOLD;
    text-align: center;
}
.title_area p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.morebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 26px;
    transform: translateY(20px);
    font-size: 16px;
}
.morebtn::after {
    content: '';
    display: block;
    /* 포지션 앱솔루트! */
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(../images/ico_more@2x.png) no-repeat;
    background-size: 100%;
    
}

/* 영역 감싸기 박스 */
.area_box {
    position: relative;
    display: flex;
    gap: 0 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 100px 0 0;
}
/* 영상 박스 공통설정 */
.img_area {
    position: relative;
    /* 부모자격 - thumb, sticker */
}
/* 영상 박스 */
.vid {
    display: block;
    width: 340px;
    height: 524px;
    overflow: hidden;
    border-radius: 30px 0 30px 0;
}
.vid video {
    position: relative;
    width: auto;
    height: 100%;
    /* 영상 정중앙이동 */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.thumb {
    position: absolute;
    top: 330px;
    left: 250px;
    overflow: hidden;
    border-radius: 20px 0 20px 0;
}
.thumb img {
    width: 180px;
    height: 240px;
}
.sticker {
    position: absolute;
    top: 230px;
    left: 250px;
    overflow: hidden;
}

/* 텍스트 박스 */
.text_area {
    margin: 50px 0 0 50px;
    /* opacity: 0; */
}
/* 클래스 on 삽입 액션 */
.on.text_area {
    opacity: 1;
}
.tbx {
    white-space: nowrap;

}
.tbx h4 {
    line-height: 1.5;
    font-size: min(3.5vw,40px);
}
.tbx p {
    font-size: min(2.3vw,18px);
    line-height: 1.5;
    padding: min(2vw,30px) 0 min(4vw,40px);
}
.tbx .viewbtn {
    display: block;
    width: 140px;
    height: 45px;
    /* 중앙정렬 */
    line-height: 45px;
    text-align: center;
    border: 1px solid #ccc;

    /* 글자설정 */
    font-size: min(2.3vw,16px);

}
.tbx .viewbtn:hover {
    background-color: #f5f5f5;
}


/************** section 2 - Live new cj **************/
.cjnow{
    background: rgb(206, 206, 206);
}
.brand{
    background-color: rgb(80, 79, 79);
}
.csv{
    background-color: #fff;
}
.cjlog{
    background-color: rgb(162, 164, 167);
}
#info {
    background: #fff;
}