@charset "utf-8";

/* 웹&앱PJ 상세페이지 CSS - detail.css */

/* 디테일영역 공통설정 */
.detailbx {
    position: relative;
    background-color: #ddd;
    width: 100%;
    min-height: 100vh;
    /* 네비게이션 영역만큼 위로 밀어주기 */
    padding-top: 80px;
}
/****************** detail_section1 ******************/

.dtsec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 이미지 슬라이드 박스 */
.imgslide {
    /* 부모박스 */
    position: relative;
    height: 80vh;
    /* height: 100vh; */
    width: 340px;
    padding: 20px;
    margin: 0 auto;
}
.imgslide ul {
    position: relative;
    display: flex;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    cursor: move;
    /* 드래그방지 */
    app-region: no-drag;
    user-select: none;
    -webkit-user-drag: none;
}
.dtli {
    position: relative;
    /* 등분할 */
    flex: 1;
}
/* 디테일 슬라이드 이미지 공통설정 */
.dtli > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 제품정보 영역 */
.detail_info {
    
}