@charset "utf-8";

/* 웹&앱PJ 메인페이지 CSS - main.css */


/*************** 상단영역 ***************/
header {
    /* height: 800px; */
}



/*************** 메인영역 ***************/
main {
    position: relative;
}

/******* section1 *******/
/* 비디오박스 */
#vidbx {
    /* 부모박스 */
    position: relative;
    height: 100vh;
    width: 100%;
}
#vidbx::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.3));
    pointer-events: none;
}
.vidslide {
    position: absolute;
    display: flex;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    cursor: move;
    /* 드래그방지 */
    app-region: no-drag;
    user-select: none;
    -webkit-user-drag: none;
}
.vidslide li {
    position: relative;
    /* 등분할 */
    flex: 1;
}
/* 비디오 공통클래스 */
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 블릿박스 */
.indic {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px 15px;
}
.indic li {
    display: inline-flex;
    flex: 1;
    /* 두께 */
    height: 7px;
    /* 사이간격 */
    margin: min(1vw,10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
}
/* 클래스 on */
.indic li.on .bld {
    width: 0;
    opacity: .7;
}
.bld {
    display: inline-block;
    /* 게이지바 */
    width: 0;
    height: 100%;
    opacity: 0;
    background-color: #000;
    transition: .3s ease-out;
}
/* 슬라이드 커버 */
.cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: #f00;
    opacity: 0.5; */
    display: none;
}

/****** section2 ******/
#sigbx {
    /* 최상위 부모박스 */
    padding-top: 150px;
    position: relative;
    width: 100%;
    height: 552px;
    background-color: #fffef2;
}
.sigwrap  {
    position: absolute;
    display: flex;
    
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}
/* 텍스트 공통박스 */
.tit {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    margin-left: 5%;
    width: 400px;
    height: 100%;
    font-family: 'IBM Plex Sans KR', 'EB Garamond';
    color: #333;
}
.tit > h2 {
    font-size: 3rem;
    font-weight: 500;
}
.tit > h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
.tit > p {
    font-size: 1.4rem;
    font-weight: 400;
}

/* 슬라이드박스 최상위 부모 */
.ban {
    position: relative;
    /* margin: 0 auto; */
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    overflow: hidden;
}
/* 이미지 공통박스 */
.sigslide {
    /* 슬라이드 부모박스 */
    position: absolute;
    display: flex;
}
/* 제품 구성 박스 */
.listbx {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 2vw;
}
.imgarea {
    /* 이미지크기 */
    width: 400px;
}
.imgarea img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.txtarea {
    height: 100%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.0;
    color: #333;
}
.morebtn {
    font-size: 1.4rem;
    text-decoration: none;
}

/********* section3 *********/
#gocat {
    /* 최상위박스 */
    position: relative;
    width: 100%;
}
#gocat ul {
    display: flex;
    flex-direction: row;
}
#gocat ul li {
    flex: 1;
}
#gocat ul li img {
    width: 100%;
}

/********* section4 *********/
#bestbx {
    /* 최상위 부모박스 */
    position: relative;
    width: 100%;
    padding: 150px 0;
    background-color: #fffef2;
}
/* 감싸기박스 */
.btxwrap {
    display: flex;
    width: 100%;
}
/* 이미지영역 */
#goods {
    /* 이미지박스 최상위부모 */
    position: relative;
    width: 100%;
    margin-right: 5%;
    box-sizing: border-box;
}
.goods {
    /* 플렉스박스 */
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.goods .listbx .imgarea {
    width: 100%;
}

/********* section5 *********/
.store {
    /* 부모박스 */
    position: relative;
    height: 750px;
}
/* 텍스트박스 */
.storetit {
    position: absolute;
    top: 10px;
}
.storeimg {
    height: 100%;
}
.store::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.5));
}
.storeimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* pip박스 */
.pipbx {
    position: absolute;
    display: flex;
    left: 5%;
    bottom: 50px;
    gap: 10px;
    z-index: 10;
}
.pip {
    position: relative;
    width: 200px;
    aspect-ratio: 16/9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: #000;
}
.pip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .3s ease-out;
}
/* 클래스 on */
.pip.on img {
    opacity: .5;
}
.pip span {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    opacity: 0;
    transition: .3s ease-out;
}
.pip span::before {
    display: inline-block;
    content: '💖';
}
/* 클래스 on */
.pip.on span {
    opacity: 1;
}

/*************** 하단영역 ***************/
footer {
    position: relative;
    height: 500px;
}
