@charset "utf-8";
/* Layout 페이지 CSS - layout.css */



/* 헤더영역 - gnb */
.top{
    padding-top: var(--global-padding);
    padding-bottom: var(--global-padding);
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    z-index: 1000;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    background-color: #000;
}
.gnb{
    flex-wrap: nowrap;
    /* (min-width: 480px) */
    /* display: flex; */
    display: none;
}
.gnb a {
    text-transform: uppercase;
    border: 0.5vw solid #fff;
    border-radius: 200px;
    margin-right: 1vw;
    padding: 0 4vw 0.3vw;
    font-family: Grtsk Tera;
    font-size: 4.5vw;
    font-weight: 400;
    text-decoration: none;
    transition: color .3s,background-color .3s;
}
/* 모바일일때 버튼 */
.button_large {
    /* (min-width: 480px) */
    display: none;

    width: calc(90vw - var(--global-padding)*3);
    flex-shrink: 2;
    padding-top: 0;
    padding-bottom: 0;

    font-size: var(--button-large-text-size);
    border-width: 4px;
    padding: 1rem 2.5rem;
}
.button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-family: Grtsk Tera;
    font-weight: 400;
    font-size: var(--button-text-size);
    text-align: center;
    background-color: #0000;
    border: 3px solid #fff;
    border-radius: 200px;
    flex-shrink: 0;
    padding: 0.5rem 2rem;
    line-height: 1;
    text-decoration: none;
    transition: color .3s,background-color .3s;
    position: relative;
    overflow: hidden;
}
.button_init {
    transition: transform .3s;
    display: block;
    position: relative;

    padding-top: 1rem;
    padding-bottom: 1rem;
}
.button_active {
    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    text-align: center;
    transition: transform .3s;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(80%);
}
/* 하위메뉴 */
.menu {
    height: 0;
    pointer-events: none;
    background-color: #000;
    flex-direction: column;
    transition: height .5s;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}
/* class open */
.menu.open {
    height: 100vh;
    pointer-events: auto;
}
/* 메뉴 메인 */
.menu_main {
    padding: var(--global-padding);
    flex-direction: column;
    display: flex;
}
.menu_main > .button {
    margin-bottom: var(--global-padding);
}
/* 메뉴 두번째 */
.menu_secondary {
    bottom: var(--global-padding);
    font-size: var(--copy-size);
    padding: var(--global-padding);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.menu_secondary li {
    margin-top: 0.5rem;
}


/* 로고 */
.logo {
    width: 10vw;
    min-width: 1rem;
    flex-shrink: 0;
    margin-left: 0;
}
.logo img {
    pointer-events: none;
    width: 100%;
    height: auto;
}


h1{
    text-align: center;
}


/* 메인영역 */

.cont{
    text-align: center;
    padding: 30px;
    background-color: #252525;
    height: 900px;
    color: #fff
}
.cont img{
    max-width: 100%;
}
.cont h2 {
    font-size: 3vw;
}
.cont h3 {
    font-size: 2.5vw;
}




/* 하단영역 */
.info{
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, #CCC, #777);
    color: #fff;
}


