@charset "utf-8";
/* Surface 모듈용 CSS - surface.css */

.surface_box {
    position: absolute;   
    left: 0;
}
.surface_box {
    width: 100%;
    background-color: #000;
}
.surface_box #svg {
    z-index: 10;
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
    overflow: visible;
}

.surface_box {
    color: #000;
    font-size: var(--copy-size);
    width: 100%;
}
.surface_box p {
    display: inline-block;
}

.section {
    position: relative;
    height: 300px;
    background-color: #000;
}